* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: $color-white;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: $normal;
  line-height: 24px;
  font-style: normal;
  color: $color-dark-grey;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: $color-dark-grey;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

td,
th {
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
