$color-white: #ffffff;
$color-turquoise: #56c3b2;
$color-light-turquoise: #63d1bb;
$color-dark-turquoise: #35a999;
$color-bg-grey: #fafafa;
$color-light-grey: #f1f1f1;
$color-grey: #d3d2d2;
$color-dark-grey: #444444;
$color-black: #000000;
$color-overlay: rgba(255, 255, 255, .9);

$bold: 700;
$normal: 400;

$tablet-width: 768px;
$desktop-width: 1150px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
